@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    text-align: center;
}

.main {
    background-image: url("assets/images/netflix-bg.jpg");
    height: 95vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .box {
    height: 95vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    justify-content: space-between;
    max-width: 85vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 62px;
    padding: 17px;
    flex-wrap: wrap;
}

nav img {
    color: rgb(229, 9, 20);
    width: 9.25rem;
    height: 2.5rem;
    position: relative;
    z-index: 10;
}

div.language img {
    color: white;
    height: 35px;
    width: 18px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 96px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Poppins', sans-serif;
    gap: 23px;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    background: rgb(46, 44, 44);
    height: 7px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.btn div {
    font-size: 13px;
    padding-left: 7px;
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 8px 10px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid red;
    cursor: pointer;
}

.btn-red {
    color: white;
    background-color: red;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 600;
    padding: 10px 32px;
    font-family: 'poppins', sans-serif;
    border: 1px solid red;
    cursor: pointer;

}

.hero input {

    color: white;
    background: rgba(23, 23, 23, 0.5);
    font-size: 18px;
    border-radius: 4px;
    font-weight: 500;
    padding: 10px 180px 10px 15px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 7px;
    flex-wrap: wrap;
}

input::placeholder {
    color: white;
    opacity: 0.7;
    font-weight: 200;
    font-size: 16px;
    font-family: sans-serif;
}

.language {
    display: flex;
    gap: 10px;
}

.first {
    display: flex;
    max-width: 80vw;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 10px;
}



.secimg img {
    width: 456px;
    position: relative;
    z-index: 10;
}

.secimg {
    position: relative;
}

.secimg video {
    position: absolute;
    right: 69px;
    top: 75px;
    height: 182px;
    width: auto;

}

.secimg img.imac {
    width: 510px;
    position: relative;
    z-index: 10;

}

.secimg video.imac {
    position: absolute;
    right: 103px;
    top: 35px;
    width: auto;
    height: 174px;

}


.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
}

.first>div :nth-child(2) {
    font-size: 24px;
    text-align: left;
}

.first>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq h2 {
    color: white;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 45, 45);
    font-size: 25px;
    color: white;
    text-align: left;
    padding: 22px 25px;
    width: 75vw;

}

.faqbox:hover {
    background-color: rgb(83, 83, 83);
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 50px;
}

.faq img {
    width: 40px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px auto;
    width: 75vw;

}

.bottom span {
    font-size: 20px;
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

.bottom-buttons {
    display: flex;
    justify-content: center;
    gap: 7px;
    flex-wrap: wrap;
}

.bottom-buttons input {
    color: white;
    background: rgba(23, 23, 23, 0.5);
    font-size: 18px;
    border-radius: 4px;
    font-weight: 500;
    padding: 10px 145px 10px 15px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}


footer {
    max-width: 60vw;
    margin: auto;
    padding-bottom: 70px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer-items a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: left;
}

footer span {
    display: inline-block;
    color: white;
    font-size: 16px;
    width: 60vw;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 30px;
}

@media screen and (max-width:1300px) {
    .first {
        flex-wrap: wrap;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .first>div :nth-child(1) {
        text-align: center;
    }

    .first>div :nth-child(2) {
        text-align: center;
    }

}

@media screen and (max-width:796px) {
    .hero-buttons {
        gap: 10px;
    }

    .secimg img {
        width: 350px;

    }

    .secimg video {
        right: 53px;
        top: 57px;
        height: 140px;

    }

    .hero> :nth-child(1) {
        font-weight: 700;
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 16px;
    }

    .hero> :nth-child(3) {
        font-size: 16px;
    }

    .btn-red {
        font-size: 16px;
        font-weight: 500;
        padding: 7px 28px;
    }

    nav img {
        width: 6.25rem;
        height: 1.5rem;
    }

    .hero input {
        padding: 10px 107px 10px 15px;
    }



    .first>div :nth-child(1) {
        font-size: 32px;
        font-weight: 700;

    }

    .first>div :nth-child(2) {
        font-size: 18px;
        font-weight: 400;
    }

    .faq h2 {
        font-size: 32px;
    }

    .faqbox {
        font-size: 18px;
    }

    .bottom-buttons {
        gap: 15px;
    }

    .bottom span {
        font-size: 18px;
    }

    .bottom-buttons input {
        padding: 10px 110px 10px 15px;
    }

    .main {
        height: 70vh;

    }

    .main .box {
        height: 70vh;
    }

    .footer {
        gap: 30px;
    }
}

@media screen and (max-width:520px) {

    .hero input {
        padding: 10px 52px 10px 15px;
    }
    .bottom-buttons input {
        padding: 10px 52px 10px 15px;
    }

    .main {
        height: 65vh;

    }

    .main .box {
        height: 65vh;
    }

    .hero> :nth-child(1) {
        font-weight: 700;
        font-size: 24px;
    }

    .hero> :nth-child(2) {
        font-size: 14px;
    }

    .hero> :nth-child(3) {
        font-size: 14px;
    }

    .first>div :nth-child(1) {
        font-size: 24px;
        font-weight: 700;
    }

    .first>div :nth-child(2) {
        font-size: 14px;

    }

    .faq h2 {
        font-size: 24px;
    }

    .faqbox {
        font-size: 14px;
    }

    .secimg img.imac {
        width: 360px;
    }

    .secimg video.imac {
        position: absolute;
        right: 74px;
        top: 26px;
        width: auto;
        height: 121px;
    }

    .hero-buttons {
        gap: 15px;
    }

    .bottom-buttons {
        gap: 15px;
    }
}

@media screen and (max-width:360px) {
    .main {
        height: 95vh;
    }

    .main .box {
        height: 95vh;
    }

    .hero input {
        padding: 10px 8px 10px 15px;
    }

    .secimg img {
        width: 260px;
    }

    .secimg video {
        right: 36px;
        top: 39px;
        height: 106px;

    }

    .secimg img.imac {
        width: 260px;
    }

    .secimg video.imac {
        position: absolute;
        right: 56px;
        top: 20px;
        width: auto;
        height: 85px;
    }

    .bottom-buttons input {
        padding: 10px 8px 10px 15px;
    }

    nav {
        justify-content: space-evenly;
    }

    .btn-red {
        padding: 7px 15px;
    }
}